<!DOCTYPE html>
<html>
    <head>
        <title>Inline editor</title>
        
        <link rel="stylesheet" href="style.css">
        <script src="main.js"></script>
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    
    
    </head>
    <body>
        <div id="main" ng-app ng-controller="InlineEditorController" ng-click="hideTooltip()">
            <!-- This is the tooltip. It is shown only when the showtooltip variable is truthful -->
            <div class="tooltip" ng-click="$event.stopPropagation()" ng-show="showtooltip">
                <!-- ng-model binds the contents of the text field with the "value" model.

all other bindings on the page that depend on it.  -->
		<ul>
            <li><input name="edit1"type="text" ng-model="InlineEditorController.edit1" /></li>
            <li><input name="edit2" type="text" ng-model="InlineEditorController.edit2" /></li>
                
                
                </ul>
               
	</div>
            <br>
            <br>
            <br>
        

	<!-- Call a method defined in the InlineEditorController that toggles
	 the showtooltip variable -->
	<p ng-click="toggleTooltip($event)">{{InlineEditorController.edit1}}{{InlineEditorController.edit2}}</p>

</div>
    
    
    
    
    
    
    </body>
</html>






